body {
    margin-left:100px;
    margin-right: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
	padding: 10px 10px 10px 10px;
    background-image: url("https://img.freepik.com/free-vector/white-background-with-blue-tech-hexagon_1017-19366.jpg?w=740&t=st=1672178278~exp=1672178878~hmac=debcb9a5c606d08392491fbe56c5adfc0ad1ad6f66584b38293c6a4ece5ba9ba");
    background-size: 2000px;
    background-position: center;
}

img {
    margin: auto;
    display: block;
    border-style: solid;
	border-color: black;
	border-width: 3px;
}

h1 {
    font-family: 'Crimson Text', serif;
    padding: 10px;
    margin: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 30px 20px 15px 10px;
    font-weight: bold;
    color: black;
    text-align: center;
}

h2 {
    font-family: 'Passions Conflict', cursive;
    color: black;
    text-align: center;
    font-size: 50px;
}

P{
    color: #333333;
    width: 1000px;
    font-family: "calibri", sans-serif;
    font-weight: normal;
    text-align: justify;
    
}

li {
    color: #0d0d0d; 
    font-weight: bold;
    font-family: 'Crimson Text', serif;
    font-weight: bolder;
    font-size: large;
}
section {
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
  }

.estaesmiclase{
    font-weight: bold;
    color:chartreuse;
  }

  form {
    text-align: center;
}

label {
    color: black;
    font-family: 'Crimson Text', serif;
    font-weight: bold;
    text-align: light;
}
#formulario {
    color: black;
    background-color: floralwhite;
    font-family: 'Crimson Text', serif;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    margin: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 15px 10px 7px 5px;
}


button{
    color: whitesmoke;
    font-family: "calibri", sans-serif;
    font-weight: bold;
    text-align: center;
    background-color: grey;
}
footer {
    color: darkslategrey;
    font-family: 'Passions Conflict', cursive;
    font-size: 80px;
    text-align: center;
    padding: 5px;
    margin: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 20px 20px 15px 10px;
  }
