
#particles-js{
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: -1;
    margin-left: 1px;
}
#fotoCarnet {
    margin: auto;
    margin-bottom: 40px;
    position: relative;
    z-index: 99;
    display: block;
    border-style: solid;
	border-color: #1D6095;
	border-width: 2px;
    border-radius: 50%;
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
    box-shadow:  10px 10px 20px #5a5a5a,
             -10px -10px 20px #ffffff;
}


#portfolio {
    margin: 0 auto;
    display: center;
    width: 75%;
    z-index: 99;
}

.text {
    display: inline-block;

}

h1 {
    font-family: 'Crimson Text', serif;
    font-size: 3rem;
    overflow: hidden;
    border-right: 1rem solid; color: #1D6095;
    white-space: nowrap;
    animation: typing 1.5s steps(20, end) forwards, blinking .75s infinite;
    font-weight: bold;
    color: black;
    text-align: center;
    position: relative;
    z-index: 99;
    
}

@keyframes typing {
    from {width: 0;}
    to {width: 100%;}
}

@keyframes blinking{
    from{border-color: transparent;}
    to {border-color: #1D6095;}
}

h3 {
    color: black; 
    font-weight: bolder;
    font-family: 'Crimson Text', serif;
    margin-left: 40px;
    position: relative;
    z-index: 99;
}

#portfolio__titulo {
text-align: center;
margin-top: 40px;
margin-bottom: 30px;
font-size: 40px;
}

P{
    color: #333333;
    width: 100;
    font-family: "calibri", sans-serif;
    font-weight: normal;
    text-align: justify;
    font-size: medium;
    padding: 0px 70px 10px 20px;
}

li {
    color: #333333; 
    font-family: "calibri", sans-serif;
    font-weight: normal;
    text-align: justify;
    font-size: medium;
    align-items: center;
    margin-right: 10px;
}

label {
    color: black;
    font-family: 'Crimson Text', serif;
    font-weight: bold;
    font-size: 20px;
    text-align: light;
}
#formulario {
    color: white;
    font-family: 'Crimson Text', serif;
    font-size: 20px;
    box-sizing: border-box;
    width: 100;
    background: #1D6095;
    border: 1px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    display: center;
    align-items: center;
    user-select: none;
    text-align: center;
    margin-left: auto;
    padding-left: 60px;
    padding-top: 10px;
    position: relative;
    z-index: 99;
}

#formulario:hover {
    border: 1px solid #1D6095;
    transform: scale(1.05);
  }
  
#formulario:active {
    transform: scale(0.95) rotateZ(1.7deg);
  }

label {
    align-items: center;
    display: center;
    padding: 20px 10px 10px 10px;
    
}

button {
    font-weight: normal;
    text-align: center;
    font-family: "calibri", sans-serif;
    font-size: 12px;
    background: #1D6095;
    color: white;
    padding: 1em 1em;
    padding-left: center;
    margin-top: 20px;
    align-items: justify;
    border: none;
    border-radius: 50%;
    overflow: hidden;
    transition: all 0.2s;
    margin-left: 10px;
    position: relative;
    z-index: 99;
    
      }
      
      button span {
        display: block;
        margin-left: 0.3em;
        transition: all 0.3s ease-in-out;
        align-content: center;
      }
      
      button svg {
        display: block;
        transform-origin: center center;
        transition: transform 0.3s ease-in-out;
      }
      
      button:hover .svg-wrapper {
        animation: fly-1 0.6s ease-in-out infinite alternate;
      }
      
      button:hover svg {
        transform: translateX(1.2em) rotate(45deg) scale(1.1);
      }
      
      button:hover span {
        transform: translateX(5em);
      }
      
      button:active {
        transform: scale(0.95);
      }
      
      @keyframes fly-1 {
        from {
          transform: translateY(0.1em);
        }
      
        to {
          transform: translateY(-0.1em);
        }
      }
      
      
footer {
    color: darkslategrey;
    font-family: 'Passions Conflict', cursive;
    font-size: 80px;
    text-align: center;
    margin: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 20px 20px 15px 10px;
    position: relative;
    z-index: 99;
  }

 
  .card {
    box-sizing: border-box;
    text-align: justify;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 30px;
    margin-right: 30px;
    background: rgba(217, 217, 217, 0.58);
    border: 1px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    display: center;
    position: relative;
    z-index: 99;
    align-items: justify;
    user-select: none;
    text-align: justify;
    padding-left: 15px;
  }
  
  .card:hover {
    border: 1px solid #1D6095;
    transform: scale(1.05);
  }
  
  .card:active {
    transform: scale(0.95) rotateZ(1.7deg);
  }

  #miformulario {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
  
  #miformulario input{
    width: 90%;
    height: 30px;
    margin: .5rem
  }
 
  
 